body{
  margin: 0;
  padding:0;
  word-wrap: break-word;
}
.newsItemWrap{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, auto));
  grid-gap: 4rem;
  justify-items: center;
  justify-content: center;
}
.newsItemText{
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.hoverUnderline:hover .newsItemText:nth-child(3){
  text-decoration: underline;
}